:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #299EFF;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #d2d4d6;
    --transition: all 0.3s ease-out;
}

.projects_page {
    position: relative;
    min-height: 100vh;
    
}

.projects_page::before {
    content: '<section id="projects">';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size:1.2rem;
    position: absolute;
    opacity: 0.6;
    left: 2rem;
    top: 1rem;
    animation: fadeIn 2s 1.7s backwards;
    transition: var(--transition);
}

.projects_page::after {
    content: '</section>';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size: 1.2rem;
    position: absolute;
    bottom: -7rem;
    left: 2rem;
    animation: fadeIn 2s 1.7s backwards;
    opacity: 0.6;
    transition: var(--transition);
}

.projects_text h2{
    color: var(--light-orange);
    font-size: 1.3rem;
    font-family:'Coolvetica-R';
    letter-spacing: 0.4rem;
    font-weight: 500;
    margin-top: -3rem;
    padding: 4rem 0 0 0;
    text-align: center;
}
