.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 2s 2s;
    animation-fill-mode: forwards;
    min-width: 15px;
    cursor: pointer;

    &:hover {
        animation: rubberBand 1.2s;
        color: #b1f0ed;
        opacity: 1;
    }

    @for $i from 1 through 60 {
        &._#{$i} {
            animation-delay: calc(#{$i} * 0.02s);
        }
    }
}
