.logo-container {
    display: flex;
    align-items: center;
    z-index: 0;
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 5rem;
    bottom: 10;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(0deg) !important;
      }

    .solid-logo {
        position: absolute;
        top: 0 auto;
        right: 0 auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        animation: fadein 10s;
        transform: rotateZ(0deg) !important;
        z-index: 1;
    }

    @keyframes fadein {
        0% {
        opacity:0;
        }
        25%{
          opacity:0;
          }
        50%{
        opacity:0.5;
        }
        100% {
        opacity:1;
        }

        }    
    }

.svg-container {
    stroke-width: 0.3rem;
    stroke: #f78324;
    stroke-dasharray: 3000;
    animation: dash 5s linear ;
}

@keyframes dash {
    from {
      stroke-dashoffset: 3000;
    }
    to {
      stroke-dashoffset: 0;
    }
}


@media screen and (max-width: 767px) {
  .logo-container {
    display:none;
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(0deg) !important;
      }

    .solid-logo {
        position: absolute;
        top: 0 auto;
        right: 0 auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        
        transform: rotateZ(0deg) !important;
        z-index: 1;
    }

    @keyframes fadein {
        0% {
        opacity:0;
        }
        50%{
        opacity:0.5;
        }
        100% {
        opacity:1;
        }

        }    
    }

.svg-container {
    stroke-width: 0.2rem;
    stroke: #f78324;
    stroke-dasharray: 3000;
    animation: dash 15s linear infinite;
}


@keyframes dash {
    from {
      stroke-dashoffset: 3000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
}


