.tagcloud {
    color: var(--orange-color);
    font-family: sans-serif;
    animation: fadeIn 6s;
    animation-timing-function: ease-in-out;
    font-size: 1rem;
}

.tagcloud--item:hover {
    color: var(--cyan-color)
}

@media screen and (min-width:1024px){

    .tagcloud {
        font-size: 1.3rem;
    }

}