:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #0fe5ec;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #d2d4d6;
    --transition: all 0.3s ease-out;
}

.wrapper_card{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 6px;
    border-bottom: 1px solid #ec8c0f;
    border-left: 1px solid #0fe5ec;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: var(--transition);
    position: relative;
    margin:0 auto;
    background-color: #33343521;
}


.card_content {
    position: absolute;
    width: 70%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transition: var(--transition);
    border-radius: 5px;
    transform: translateZ(50px);
    
}

.card_content img {
    width: 60%;
    border-radius: 5px;
    box-shadow: 10px 10px 8px  rgba(1, 22, 22, 0.829);
    border-bottom: 1px solid var(--orange-color);
    border-left: 1px solid var(--light-blue);
}

.card_content figcaption {
    margin-top: 0.7rem;
    color: var(--orange-color);
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-shadow: 5px 5px 5px  rgba(10, 10, 10, 0.932);
}


@media screen and (min-width: 1024px){
    .wrapper_card{
        width: 8rem;
        height: 8rem;
    }

    .card_content figcaption {
        font-size: 0.8rem;
        word-wrap: wrap;
    }
}