:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #0fe5ec;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #d2d4d6;
    --transition: all 0.3s ease-out;
}
.wrapper_card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    box-shadow: 0px 0px 20px  rgba(0, 12, 12);
    border-radius: 6px;
    margin: 30px;
    background: rgba(247, 131, 36, 0.753);
    border-top: 3px solid rgb(247, 131, 36, 0.5);
    border-left: 3px solid rgb(247, 131, 36, 0.5);
    cursor: pointer;
    perspective: 1000px;
    transition: var(--transition);
    position: relative;
}


.card_content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: var(--transition);
    transform: translateZ(10rem);
    z-index: 3;
    gap: 2rem;
}



.card_content img {
    width: 100%;
  
}

.card_content figcaption {
    color: var(--white-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;

}

.bg{
    background: rgba(0, 0, 0, 0.5);;
    position: absolute;
    top:0;
    filter: brightness(100%) blur(20px);
    z-index: -1;
    width: 100%;
    height: 100%;
}