:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #299EFF;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #d2d4d6;
    --transition: all 0.3s ease-out;
}


.about_page {
    position: relative;
    min-height: 100vh;
    
}

.about_page::before {
    content: '<section id="about">';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size:1.2rem;
    position: absolute;
    opacity: 0.6;
    left: 2rem;
    top: 1rem;
    animation: fadeIn 2s 1.7s backwards;
    transition: var(--transition);
}

.about_page::after {
    content: '</section>';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size: 1.2rem;
    position: absolute;
    bottom: -7rem;
    left: 2rem;
    animation: fadeIn 2s 1.7s backwards;
    opacity: 0.6;
    transition: var(--transition);
}

.about_text h2{
    color: var(--light-orange);
    font-size: 1.3rem;
    font-family:'Coolvetica-R';
    letter-spacing: 0.4rem;
    font-weight: 500;
    margin-top: -3rem;
    padding: 4rem 0 0 0;
}

.about_text img {
    width: 12rem;
    height:12rem;
    justify-content: center;
    align-items: center;
    border-radius: 2em 0;
    border: 1px solid var(--dark-blue);
    background: linear-gradient(#cfaa8c,#021c2c);
    filter:contrast(1.08);
    margin: 1rem auto;
    animation:fadeIn 12s ;
}

.about_text p {
    color: var(--white-color);
    padding: 0.3rem 2rem;
    animation:fadeIn 10s ;
}

.btn_2 {
    color: var(--orange-color);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-family: 'Coolvetica-R';
    padding: 6px 2rem;
    border: 1px solid var(--orange-color);
    margin-top: 1rem;
    float: right;
    animation: fadeIn 1s 1.9s backwards;
    margin-right: 2rem;
    transition: var(--transition);
    border-radius: 2em 0;
}

.btn_2:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.btn_2:active{
    transform: scale(0.79);
}



@media screen and (min-width:992px){
    .about_text h2{
        font-size: 2rem;
    }

    .about_page::before{
        font-size: 2rem;
        left: 4rem !important;
    }

    .about_page::after {
        font-size: 2rem;
        left: 4rem !important;
    }

    .btn_2{
        float: left;
        margin-left: 11rem;
        margin-top: -2rem;
    }
}

@media screen and (min-width: 1024px){
    .about_text h2{
        font-size: 2.8rem;
        margin-top: -5rem !important;
        margin-bottom: 2rem;
    }

    .about_text img {
        width: 17rem;
        height:17rem;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        margin-top:2rem;
    }

    .about_text p {
        font-size: 1.2rem;
        text-align: center;
        margin-left: -2rem;
        padding-right: -1.5rem;
    }

    .about_page::before{
        font-size: 2rem;
        left: 1rem !important;
    }

    .about_page::after {
        font-size: 2rem;
        left: 1rem !important;
        bottom: -1rem;
      
    }

    

}