:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #0fe5ec;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #e0eaf0;
    --transition: all 0.3s ease-out;
}


.home-page {
    padding-top: 5rem;
    position: relative;
}

.card-title {
    color: var(--light-orange);
    font-size: 1.3rem;
    font-family:'Coolvetica-R';
    letter-spacing: 0.4rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-top: 2rem;
}

.home-page::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size:1.2rem;
    position: absolute;
    opacity: 0.6;
    left: 2rem;
    top: 6rem;
    animation: fadeIn 2s 1.7s backwards;
}

.home-page::after {
    content: '</h1>';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5rem;
    left: 2rem;
    animation: fadeIn 2s 1.7s backwards;
    opacity: 0.6;
}

.card-title img {
    width: 3.2rem;
    padding-bottom: 1rem;
    transform: rotate(-10deg);
}

.flat-button {
    color: var(--orange-color);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-family: 'Coolvetica-R';
    text-decoration: none;
    padding: 8px 18px;
    border: 1px solid var(--orange-color);
    margin-top: 3rem;
    float: right;
    animation: fadeIn 1s 1.9s backwards;
    white-space: nowrap;
    margin-right: 3.8rem;
    transition: var(--transition);
    border-radius: 2em 0;
}

.flat-button:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.flat-button:active{
    transform: scale(0.79);
}

@media screen and (min-width:992px){
    .home-page {
        margin-top: 3rem;
    }
    .card-title{
        font-size: 2rem;
        padding-left: 4rem;
    }

    .home-page::before{
        font-size: 2rem;
        left: 6rem !important;
    }

    .home-page::after {
        font-size: 2rem;
        left: 6rem !important;
    }

    .flat-button {
        float: left;
        margin-left: 7rem;
    }
}
