:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #0fe5ec;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #e0eaf0;
    --transition: all 0.3s ease-out;
}


.home-page {
    position: relative;
    min-height:100vh;
}

.card-title {
    color: var(--light-orange);
    font-size: 1.3rem;
    font-family:'Coolvetica-R';
    letter-spacing: 0.4rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-left: 2rem;
    padding-top: 5rem;
    line-height: 2rem;
}

.home-page::before {
    content: '<section id="home">';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size:1.2rem;
    position: absolute;
    opacity: 0.6;
    left: 2rem;
    top: 3rem;
    animation: fadeIn 2s 1.7s backwards;
}

.home-page::after {
    content: '</section>';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size: 1.2rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    animation: fadeIn 2s 1.7s backwards;
    opacity: 0.6;
}

/* .card-title img {
    width: 3.2rem;
    padding-bottom: 1rem;
    transform: rotate(-10deg);
} */

.flat-button {
    color: var(--orange-color);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-family: 'Coolvetica-R';
    text-decoration: none;
    padding: 6px 2rem;
    border: 1px solid var(--orange-color);
    margin-top: 4rem;
    float: right;
    animation: fadeIn 1s 1.9s backwards;
    white-space: nowrap;
    margin-right: 2rem;
    transition: var(--transition);
    border-radius: 2em 0;
}

.flat-button:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.flat-button:active{
    transform: scale(0.79);
}

@media screen and (min-width: 768px) {
    .flat-button {
        margin-top: 4rem;
        margin-right: 5rem;
        padding: 5px 2rem;
       
    }
    .card-title{
        font-size: 1.8rem;
    }
}

@media screen and (min-width:992px){
    .home-page {
        margin: 4rem 0;
    }
    .card-title{
        font-size: 2.3rem;
        padding-top: 7rem;
        padding-left: 10rem;
        letter-spacing: 0.8rem !important;
        line-height: 2.8rem;
    }

    .home-page::before{
        font-size: 1.5rem;
        left: 8rem !important;
    }

    .home-page::after {
        font-size: 1.5rem;
        left: 8rem !important;
    }

    .flat-button {
        float: left;
        margin-left: 8rem;
        margin-top: 6rem;
    }
}

@media screen and (min-width: 1024px) {
    .home-page {
        margin: 4rem 0;
        min-height: 100vh;
    }
    .card-title{
        font-size: 2.3rem;
        padding-top: 10rem;
        padding-left: 8rem;
        letter-spacing: 0.3rem !important;
        line-height: 2.5rem;
    }

    .home-page::before{
        font-size: 1.7rem;
        left: 6rem !important;
    }

    .home-page::after {
        font-size: 1.7rem;
        left: 6rem !important;
    }

    .flat-button {
        float: left;
        margin-left: 12rem;
        margin-top: 6rem;
    }
}
