:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #0fe5ec;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #e0eaf0;
    --transition: all 0.3s ease-out;
}


/**todo: animation logo */
/* .navbar-brand {
    width: 6rem;
    border: 1px solid var(--light-blue);
    border-radius: 60% 30%;
    padding: 0.5rem;
    margin-left: 1rem;
} */
.navbar {
    height: 8rem;
    background: linear-gradient(#0a82a75e,#06182444);
    box-shadow: inset 0 20px 20px -20px rgb(5, 245, 245) !important;

}
.logo_brand {
    width: 5rem;
    padding-bottom: 0.8rem;
    transform: rotate(-10deg);
}

.navbar_toggler {
    border-color: var(--orange-color) !important;
}

.navbar_toggler:active{
    scale: 0.79;
}

.navbar_collapse {
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding: 0 2rem;
}


.nav_link{
    color: var(--dark-blue) !important;
    font-weight: 500;
    margin-top: 1rem;
}

.nav_link:hover {
    color: var(--light-orange) !important;
}


@media screen and (min-width:992px){
    .navbar {
        padding: 0 2rem;
    }
    
    .navbar_expand_lg .navbar_collapse {
        justify-content: end;
        background-color:inherit;
    }

    .nav_item {
        text-align:end;
    }

    .nav_link {
        font-size: 1.2rem;
        color: var(--orange-color) !important;
    }

    .nav_link:hover {
        color: var(--light-blue);
    }

}