:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #299EFF;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #d2d4d6;
    --transition: all 0.3s ease-out;
}

.dashboard_page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard_page::before {
    content: '<section id="dashboard">';
    font-family: 'La Belle Aurore';
    color: var(--orange-color);
    font-size:1.2rem;
    position: absolute;
    opacity: 0.6;
    left: 2rem;
    top: 1rem;
    animation: fadeIn 2s 1.7s backwards;
    transition: var(--transition);
}

.dashboard_page::after {
    content: '</section>';
    font-family: 'La Belle Aurore';
    color: #f78324;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    animation: fadeIn 2s 1.7s backwards;
    opacity: 0.6;
    transition: var(--transition);
}

.flat_button {
    float: right;
    color: var(--orange-color);
    font-size: 16px;
    letter-spacing: 0.5rem;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid var(--orange-color);
    border-radius: 2em 0;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    margin-right: 1rem;
    margin-top: 3rem;
    transition: 0.3s all;
    animation:fadeIn 10s;
}

.flat_button:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.flat_button:active {
    transform: scale(0.89);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}