* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    scroll-behavior: smooth scroll;
}

main {
    flex-grow: 1;
}


a{
    text-decoration: none;
}

input,
textarea {
    font-family: "Helvetica Neue";
}

/* .loader-active {
        display: block;
        position: absolute;
        left: 100px;
        margin: 0 auto;
        right: 0;
        bottom: 0;
        top: 50%;
        width: 50px;
        height: 50px;
        animation: fadeOut 1s 1s;
        animation-fill-mode: forwards;
 } */

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
    position: absolute;
    left: 100px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    top: 50%;
    width: 130px;
    height: 130px;
    animation: fadeOut 1.5s 1s;
    animation-fill-mode: forwards;
}
