
:root {
  --principal-color: #040F16;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: var(--principal-color);
  filter: contrast(1.1);
  min-width: 320px;
  min-height: 100vh;
  font-size: 1em;
  box-sizing: border-box;
}

