:root {
    --dark-blue: #040F16;
    --middle-blue: #0a82a7;
    --light-blue: #0fe5ec;
    --light-blue-transparent: #0fe5ec31;
    --orange-color:#f78324; 
    --light-orange: #f0c6a4;
    --white-color: #d2d4d6;
    --transition: all 0.3s ease-out;
}

.projects-items {
    animation: fadeIn 6s;
    animation-timing-function: ease-in-out;
}

.projects-item {
    height: 28rem;
    position: relative;
    border-bottom: 5px solid #0fe5ec;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--light-blue-transparent);
}

.projects-item img {
    width: 100%;
    object-fit: cover;
    color: #585e61;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
}

.projects-text{
    padding: 1rem;
    font-size: 1rem;
    color:#d2d4d6;
    font-weight: 400;
    letter-spacing: 0.02rem;
    flex-grow: 1;
}

.projects-text span{
    font-style: oblique;
    color: #0fe5ec;
}

.projects-item::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f78324da;
    box-shadow: 0 0 20px 0px rgb(5, 245, 245);
    transition: var(--transition);
}

.projects-item:hover::after {
    top: 0;
    opacity: 0.9;
}

.projects-item:hover .projects-btn {
    opacity: 1;
}

.projects-btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.projects-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    opacity: 0;
    color: #020224;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-family: 'La Belle Aurore';
    transition: ease;
}

.projects-btn:hover {
    color: rgb(5, 245, 245);
}
